<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157983930-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-157983930-1');
    </script>

    <title>XOCHIWORLD | About</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/layout.css" />
    <link rel="stylesheet" type="text/css" href="/about.css" />
    <link rel="stylesheet" type="text/css" href="/components/menu.css" />
    <link rel="stylesheet" type="text/css" href="/components/social.css" />
    <link rel="stylesheet" type="text/css" href="/components/carousel.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
</head>

<body>
    <div class="row">
        <div class="container highlightTextOut">
            <a href="/" alt="HOME">HOME</a>
            <a href="/about" alt="ABOUT">ABOUT</a>
            <a href="/projects" alt="PROJECTS">PROJECTS</a>
            <a href="/press" alt="PRESS">PRESS</a>
        </div>
        <div id="infoNew" data-splitting>bringing fantasy to life</div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <br>
            <br>
            <br>
            <div class="about">
                <p class="about">Digital Innovation. Building powerful immersive experiences for brands.
                    We help you
                    build
                    authentic connections with your audience, drive engagement,
                    reduce costs from your digital marketing budget, differentiate from your competitors and get
                    ahead of the game.</p>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
    <div class="row">
        <div id="footer">
            <div class="center">
                <div id="social-test">
                    <ul class="social">
                        <li><a href="https://www.instagram.com/xochiworld" target="_blank"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></i></li>
                        <li><a href="https://www.youtube.com/channel/UCm5yvRalYtQyxp1R7YBk7fg" target="_blank"><i
                                    class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="https://medium.com/@3xochi" target="_blank"><i class="fa fa-medium"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li><a href="mailto:3xochi@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>